* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #5ebde2 none repeat scroll top left;
}

#content {
    margin: 20px auto;
    width: 900px;
    border: 1px solid#999;
    padding: 10px;
    min-height: 200px;
    background-color: beige;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

#content:hover {
    transform: translateY(-5px);
}

#content h1 {
    color: orangered;
    text-align: center;
}

#content h5 {
    font-size: 14px;
    font-weight: bold;
    color: orangered;
    margin-top: 5px;
}


/* #content ul {
    margin: 23px;
}

#content ul li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

#content ul li a {
    display: block;
    width: 210px;
    height: 180px;
} */

.result {
    margin: 0 auto;
    width: 900px;
    min-height: 150px;
}

.result p {
    text-align: left;
    color: orangered;
}

.result h4 {
    margin-left: 420px;
    color: rgb(248, 104, 1);
}